.navbar img{
    height: 50px;
}
.navbar a{
    margin: 0 1.5rem;
    font-size: 125%;
}
.sticky-top{
    background: rgba(255,255,255,0.8);
}
header{
    background-image: url(mountains.jpg);
    background-position: center;
    background-size: cover;
}
.overlay{
    background: rgba(30, 196, 202, 0.65);
}
.sub-form{
    width: 100%;
    padding: 3% 2%;
    border: none;
    border-radius:5px;
}
.why-book{
    width: 50%;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
}
.img-fluid{
    margin-top: -30%;
}
.author-details{
    border-radius: 10px;
    border: 2px solid gray;
    margin-bottom: 30%;
}
.author-details:hover{
    background: #007bff;
    color: white;
}
strong{
    color: black;
}
.accordion{
    width: 100%;
}